{
  http_port 80
  auto_https off

  log {
    level info
  }
}

http://*.mothership.home {
  @blackhole {
    host blackhole.mothership.home
  }
  reverse_proxy @blackhole blackhole:80

  @deck {
    host deck.mothership.home
  }
  reverse_proxy @deck deck:80

  @code {
    host code.mothership.home
  }
  reverse_proxy @code code:8443

  @smart {
    host smart.mothership.home
  }
  reverse_proxy @smart {env.HOST_IP}:8123

  @esphome {
    host esphome.mothership.home
  }
  reverse_proxy @esphome {env.HOST_IP}:6052

  @zigbee2mqtt {
    host zigbee2mqtt.mothership.home
  }
  reverse_proxy @zigbee2mqtt zigbee2mqtt:8080

  @diunstore {
    host diunstore.mothership.home
  }
  reverse_proxy @diunstore diunstore:1337

  @files {
    host files.mothership.home
  }
  reverse_proxy @files files:80

  @transmission {
    host transmission.mothership.home
  }
  reverse_proxy @transmission transmission:9091

  @radarr {
    host radarr.mothership.home
  }
  reverse_proxy @radarr radarr:7878

  @prowlarr {
    host prowlarr.mothership.home
  }
  reverse_proxy @prowlarr prowlarr:9696

  @bazarr {
    host bazarr.mothership.home
  }
  reverse_proxy @bazarr bazarr:6767
}

ws://*.mothership.home { 
  @smart {
    host smart.mothership.home
  }
  reverse_proxy @smart {env.HOST_IP}:8123

  @zigbee2mqtt {
    host zigbee2mqtt.mothership.home
  }
  reverse_proxy @zigbee2mqtt zigbee2mqtt:8080

}