[Unit]
Description=Runs all Mothership services in Docker compose
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/mothership
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target