[Unit]
Conflicts=kodi.service

[Socket]
SocketUser=kodi
SocketGroup=kodi
# Start when receiving a TCP request on the http control port
ListenStream=4000

[Install]
WantedBy=sockets.target
